@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Jost:wght@600&family=PT+Sans&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Jost:wght@700&family=PT+Sans&display=swap'); */

/* ----whole webiste wraper---- */

/* .wrap-container { */
    /* margin: 20px; */
    /* margin-left: 5px; */
    /* margin-right: x; */
    /* padding-right: 10px; */
    /* padding-left: 10px; */
/* } */

/* -------------fonts----------------- */

.sub-heading {
    font-family: 'Caveat', cursive;
    color: #ff7f00;
    font-size: 28px;
    font-weight: 700;
}

.heading {
    color: #303030;
    font-family: 'Jost', sans-serif;
    font-size: 38px;
    font-weight: 700;
}

.paragraph {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* ---------------navbar---------- */

.nav-logo {
    margin: 15px;
    height: 59px;
}

.navbar-menu ul {
    float: right;
    margin-left: 20px;
}

.nav-item button {
    float: right;
}

.navbar-full {
    display: flex;
}

.navbar-content {
    height: 90px;
    display: flex;
    justify-content: center;
    object-fit: contain;
}

.nav-item a {
    font-family: 'Jost', Semi Bold;
    font-size: 14px;
    font-weight: 400;
    height: 12px;
    /* float: right; */
}

.navbar-nav .nav-item .nav-link:hover {
    color: #fc8d1f;
}

.navbar-content div nav {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

#navbar_button {
    font-family: 'Jost', Semi Bold;
    font-size: 14px;
    font-weight: 400;
    background: #ff7f00;
    border-radius: 20px;
    color: #f0f8ff;
    width: 141px;
    height: 38px;
}

.bar {
    width: 20px;
    height: 3px;
    background-color: #fc8d1f;
    margin: 3px 0;
    cursor: pointer;
}

#dropdown_menu_hidden {
    display: none;
}

#sidebar_menu {
    display: block;
    margin-top: 25px;
    position: absolute;
    margin-left: 50px;
    height: 512px;
    background: #37cee9;
    transform: translateX(-1220px);
    z-index: 2;
    transition: transform .3s;
    /* width: 100%; */
}

#open_side_bar_menu:checked~#sidebar_menu {
    transform: translateX(-100vw);
    width: 100vw;
    transition: transform .3s;
}

.menu {
    list-style: none;
}

.menu li {
    color: #f0f8ff;
}

.menu li a {
    color: #f0f8ff;
    display: block;
    text-decoration: none;
    padding: 20px;
    z-index: 1;
    text-align: center;
}

.menu li a:hover {
    color: #fc8d1f;
}

@media(max-width:768px) {
    .navbar-menu {
        display: none;
    }
    .nav-item button {
        display: block;
    }
    #dropdown_menu_hidden {
        display: block;
    }
    #navbar_button {
        width: 89px;
        margin: 0px 25px;
        font-size: 10px;
        padding: 0px;
    }
}

@media(max-width:992px) {
    .nav-link {
        font-size: 10px !important;
    }
    /* .nav-item button { */
    /* font-size: ; */
    /* } */
}

/* ---------------top-banner-------- */

.top-banner-image {
    background-image: url("./images/okimages/banner-img.jpg");
    background-repeat: no-repeat;
    height: 665px;
    background-position: center center;
    background-size: cover;
    background-color: #37cee9;
    /* display: flex; */
    /* justify-content: center; */
}

.top-banner-heading {
    font-family: 'Caveat', cursive;
    color: #37cee9;
    font-weight: 400;
    /* z-index: 1; */
    margin-top: 212px;
    font-size: 52px;
    font-weight: 400;
    display: grid;
}

.top-banner-co-heading {
    font-family: Jost;
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    z-index: 1;
}

.orange-color {
    color: #fc8d1f;
}

.top-banner-buttons {
    display: flex;
    bottom: 229px;
    justify-content: center;
}

.top-banner-buttons button {
    width: 254px;
    height: 57px;
    color: white;
    font-family: 'Jost', Semi Bold;
    font-weight: 400;
    font-size: 16px;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
}

.button-left-top-banner {
    background-color: #fc8d1f;
}

.button-right-top-banner {
    background-color: #37cee9;
    margin-left: 21px;
}

@media(max-width:576px) {
    .top-banner-heading {
        margin-top: 102px;
        font-size: 33px;
    }
    .top-banner-co-heading {
        font-size: 40px;
    }
    .top-banner-image {
        height: 516px;
    }
    .top-banner-buttons button {
        width: 236px;
        height: 50px;
        display: grid;
        /* font-size: 10px; */
        /* padding: 6px 8px; */
    }
    .top-banner-buttons {
        display: grid;
    }
    .button-right-top-banner {
        margin-top: 30px;
        margin-left: 0px;
    }
}

/* --------------------packages section--------------------------- */

.packages-wrap {
    margin: 52px 0px;
}

.packages-heading {
    display: grid;
    margin-bottom: 49px;
    /* font-size: 28px; */
}

.package-images {
    cursor: pointer;
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    padding: 15px;
}

.packages-section .row div {
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

packages-bottom-button {
    display: contents;
}

.packages-bottom-button button {
    /* margin: 65px; */
    margin-top: 65px;
    margin-bottom: 65px;
    /* margin-right: 43px; */
    /* margin-left: 43px; */
    /* width: 22vw; */
    height: 57px;
    background-color: #37cee9;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 500;
    text-transform: uppercase;
}

/* --------------------list banner section---------------- */

.list-banner-wrap {
    background-image: url("./images/okimages/service-bg.jpg");
    background-repeat: no-repeat;
    height: max-content;
    background-position: center center;
    background-size: cover;
    background-color: #d3dae6;
    display: flex;
    justify-content: center;
}

.list-button div {
    margin-top: 11px;
    margin-bottom: 11px;
    /* position: absolute; */
    width: 95%;
    /* cursor: pointer; */
    border: none;
    /* height: 121px; */
    font-size: 16px;
    padding: 19 px;
    text-align: left;
    border-radius: 5px;
    display: inline-flex;
    background-color: #ffffff;
}

.list-button div img {
    margin: 19px;
    margin-left: 30px;
}

.list-banner-wrap {
    margin-top: 50px;
    position: relative;
}

.list-banner-heading {
    display: grid;
    margin-top: 57px;
    /* position: absolute; */
    /* left: 15%; */
    font-size: 22px;
    font-weight: 500px;
}

.list-banner-container {
    margin-top: 47px;
}

.list-button div {
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 2px 4px 5px 0px rgba(75, 75, 120, 0.43);
    -moz-box-shadow: 2px 4px 5px 0px rgba(75, 75, 120, 0.43);
}

.list-content-heading {
    font-family: Jost;
    font-size: 22px;
    font-weight: 500;
}

.list-written-content {
    margin: 26px;
}

.list-icon {
    float: left;
    height: 83px;
    width: 83px;
    border-radius: 100%;
    /* margin-right: 20px; */
    object-fit: scale-down;
    background-color: #e8eaed;
}

.service-illustration img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-position: top top;
    /* position: top; */
    /* margin-top: 117px; */
    /* 
    background-image: url("./svg/service-illustration.svg");
    background-repeat: no-repeat;
    /* object-fit: fill; */
    /* background-size: contain; */
    /* width: auto; */
    /* height: 553px; */
    /* z-index: 10; */
    /* padding: 10px; */
}

.list-banner-container .hover-btn:hover {
    background-color: #fc8d1f;
}

.service-button {
    /* left: 15%; */
    margin: 70px 0px;
    bottom: 65px;
    /* position: absolute; */
    /* top: 85%; */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 284px;
    height: 57px;
    background-color: #37cee9;
    color: #ffffff;
    font-size: 13px;
    padding: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .list-banner-heading {
        font-size: 25px;
        text-align: center;
    }
    .list-paragraph {
        text-align: center;
    }
    .service-button {
        font-size: 9px;
        padding: 4px 2px;
        height: 40px;
        width: 35%;
    }
    .list-button button {
        width: 70%;
        padding: 6px 10px;
    }
    /* .list-banner-wrap { */
    /* height: ; */
    /* } */
}

/* --------------whyus banner section-------------- */

#whyus_banner_section {
    display: flex;
    justify-content: center;
}

.whyus-banner {
    margin: 94px 0px;
    text-align: center;
}

.whyus-banner-paragraph {
    display: flex;
    justify-content: center;
}

.whyus-banner-heading {
    font-size: 25px;
}

.whyus-banner-sub-heading {
    font-size: 40px;
}

.icon {
    display: block;
    height: 70px;
    width: 70px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

/* ----------holiday-banner section------ */

#hoiday-banner-section {
    background-image: url("./svg/skyline-blue.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    padding-bottom: 102px;
}

.holiday-section {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    /* padding-top: 100px; */
    /* padding-bottom: 100px; */
}

.holiday-section p {
    margin-bottom: 47px;
}

.holiday-image {
    padding: 0px 0px 0px;
}

.holiday-image-content {
    /* margin: 13px; */
    padding: 13px;
    width: 100%;
    height: 234px;
    cursor: pointer;
    object-fit: cover;
}

/* ------------------world map image------------------- */

.world-banner {
    /* position: relative; */
    background-color: #37cee9;
    height: max-content;
}

.world-map-background img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* background-image: url("./images/okimages/tour-ad-img.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    /* background-size: contain; */
    /* margin-top: 61px; */
}

.world-map-heading {
    margin-top: 151px;
    margin-bottom: 175px;
    object-fit: contain;
}

.world-map-heading div {
    color: #f0f8ff;
    font-size: 30px;
}

.world-map-banner {
    margin-top: 30px;
    width: 100%;
    max-height: 600px;
}

.world-map-heading p {
    color: #f0f8ff;
}

@media(max-width:568px) {
    .world-map-background img {
        margin-top: 41px;
    }
    .world-map-heading {
        margin-top: 30px;
        margin-bottom: 50px;
        text-align: center;
    }
}

/* ------------------form section-------------------- */

.form-banner {
    background-image: url("./images/okimages/form-bg.jpg");
    background-repeat: no-repeat;
    height: max-content;
    background-position: center left;
    background-size: cover;
    background-color: #f8d985;
    display: flex;
    justify-content: center;
}

.form-readings {
    display: flex;
    flex-direction: column;
}

.readings-border-right {
    border-right: 2px solid #f0f8ff;
}

.form-readings div {
    font-size: 30px;
    font-weight: 500;
}

.form-readings div p {
    font-size: 15px;
    display: flex;
}

.form h2 {
    text-align: center;
}

.form label {
    float: left;
    font-weight: 500;
    font-size: 18px;
}

.form input::-webkit-input-placeholder {
    color: white;
    font-weight: 400;
    font-size: 14px;
}

.form input {
    margin-bottom: 49px;
    color: white;
    font-weight: 500;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #f0f8ff;
}

#form-bottom-button {
    background-color: #f0f8ff;
    color: black;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    /* margin-top: 50px; */
    width: 100%;
}

.form {
    background-color: hsl(32, 100%, 50%);
    color: #f0f8ff;
    height: 600px;
    text-align: center;
    padding: 40px;
    width: 100%
}

.form-stats {
    color: azure;
    display: flex;
    margin-top: 102px;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    /* padding-left: 15%; */
}

.form-stats p {
    font-size: 30px;
    color: azure;
    font-weight: bolder;
}

.form-heading {
    font-size: 22px;
    font-weight: 700;
    display: grid;
}

.form-heading span {
    font-size: 38px;
    font-weight: 700;
}

@media(max-width:992px) {
    /* .form-stats { */
    /* padding-left: 2%; */
    /* } */
}

@media(max-width:768px) {
    .form {
        margin: 50px 0px;
    }
    /* .form-banner div { */
    /* padding-right: 0px; */
    /* padding-left: 0px; */
    /* } */
    /* .form-stats { */
    /* display: none; */
    /* } */
}

/* -----------------news and blog section-------------- */

.blog-date-place span {
    margin-top: 25px;
}

.news-blog {
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.right-blog-heading {
    /* font-family: jost semi-bold ; */
    /* font-family: "Jost - Semi Bold"; */
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 400;
}

.news-section-heading {
    margin-top: 92px;
    font-size: 30px;
    display: grid;
}

.blog-paragraph {
    margin-top: 14px;
    text-align: left;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: 20px;
    display: grid;
}

.news-blog-content {
    margin-top: 50px;
}

.blog-left-image {
    height: 392px;
    /* object-fit: fill; */
}

.bi-clock {
    font-weight: bold;
    color: #416be4;
}

.blog-author-photo-name {
    text-align: left;
    margin: 30px 0px;
    bottom: 0px;
    font-size: 12px;
}

.blog-author {
    object-fit: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.right-blog-heading {
    font-family: 'Anton', sans-serif;
    color: #000000ec;
    text-align: left;
}

.blog {
    display: grid;
}

.blog-img {
    float: left;
}

.label-icon {
    margin-left: 20px;
    font-weight: bold;
    color: #416be4;
}

.blog-right-image {
    height: max-content;
}

/* 
.news-section-sub-heading {
  
    font-size: 40px;
} */

.news-left-blog {
    display: grid;
}

.blog-date {
    display: flex;
}

.blog-date p {
    margin-bottom: 0px;
}

.blog-date-place {
    /* margin-top: 10px; */
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
}

.left-blog-heading {
    font-family: 'Anton', sans-serif;
    color: #000000ec;
}

@media(max-width:568px) {
    .review-col-right {
        display: none;
    }
}

/* ------------------carousal-section--------- */

.carousal-section-heading {
    margin-top: 50px;
    font-size: 30px;
    display: grid;
}

#carousel_section {
    text-align: -webkit-center;
}

.carousal-info-paragraph {
    /* text-align: center; */
    display: flex;
    justify-self: center;
}

.carousel-indicators {
    margin-top: 1rem;
    position: relative !important;
}

.carousel-indicators button {
    background-color: #4adbff !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
}

.carousal-image {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid rgba(138, 201, 253, 0.911);
}

.carousel {
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    background: #fff;
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1); */
}

#carousel_section .card {
    box-shadow: 2px 4px 5px 0px rgba(75, 75, 120, 0.43);
    -webkit-box-shadow: 2px 4px 5px 0px rgba(75, 75, 120, 0.43);
    -moz-box-shadow: 2px 4px 5px 0px rgba(75, 75, 120, 0.43);
    /* width: 95%; */
    padding: 0 10px;
    margin: 10px;
}

.card-body {
    text-align: left;
}

.quote {
    width: 10px;
    height: 10px;
    /* quotes: '\00AB' '\00BB' '\201E' '\201C'; */
    quotes: "\201C""\201D""\2018""\2019";
}

.carousel .carousel-item {
    margin-top: 50px;
}

.customer-image {
    position: absolute;
    top: -50px;
}

.customer-review {
    margin-top: 50px;
}

.customer-image .image-quote {
    width: 25px;
    height: 25px;
    background-color: skyblue;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 100%;
    text-align: center;
}

.slider {
    display: flex;
    height: 100%;
    width: 400%;
}

.slider section {
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
}

.left, .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.arrow i {
    font-size: 70px;
    -webkit-user-select: none;
    color: #416be4;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.control ul {
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%);
}

.control ul li {
    display: block;
    position: fixed;
    width: 10px;
    height: 10px;
    background: #333;
    border: 2px solid #333;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
}

.carousal-star i {
    color: #fc8d1f;
}

.control ul li.selected {
    background: transparent;
}

.review-col-left {
    margin-bottom: 50px;
}

/* ------------------question section--------------- */

.question-banner {
    /* height: ; */
    background-color: #ddedfa;
}

.question-paragraph {
    font-size: 16px;
    font-weight: 400;
}

.question-banner-heading {
    /* height: 160px; */
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.question-banner-heading div {
    font-size: 30px;
    object-fit: contain;
}

.question-banner-heading p {
    font-size: 16px;
    font-weight: 400;
}

.question-button {
    display: flex;
    justify-content: flex-end;
}
.question-banner-content{
    margin: 50px 0px;
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: center; */ 
}
.bottom-banner-button {
    height: 57px;
    /* margin-top: 20px; */
    background-color: #fc8d1f;
    color: #000000;
    font-size: 16px;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    /* width: auto; */
}

/* ------------------footer------------------------- */

.recent-trip-image li img {
    margin: 8px;
    width: 170px;
    height: 122px;
    margin-top: 10px;
    border-radius: 5%;
    object-fit: cover;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-background {
    background-image: url("./svg/footer-skyline.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.contact-footer {
    text-align: left;
    color: #9b9696;
    margin-top: 50px;
}

.contact-footer div p {
    font-size: 12px;
}

.contact-footer div h4 {
    color: white;
}

.contact-footer div {
    margin-bottom: 50px;
}

.social-icon img {
    margin-top: 5px;
}

.footer-telephone {
    margin-top: 20px;
    display: flex;
}

.icon-content-footer {
    display: flex;
}

.footer-telephone i {
    color: rgb(155, 150, 150);
    border: 2px solid rgb(155, 150, 150);
    border-radius: 50%;
    padding: 7px;
    margin: 10px;
}

.footer-telephone span {
    color: rgb(155, 150, 150);
}

.footer-dash {
    width: 30px;
    height: 5px;
    border-radius: 15%;
    background-color: #fc8d1f;
    margin: 6px;
}

.nav-link {
    font-size: 12px;
}

.footer-mail {
    display: flex;
}

.footer-mail img {
    margin: 10px;
}

.footer-telephone img {
    margin: 10px;
}

.footer-mail p {
    margin: 10px;
    display: grid;
}

.footer-mail span {
    color: white;
}

.footer-telephone span {
    color: white;
}

.footer-telephone p {
    margin: 10px;
    display: grid;
}

.footer-award {
    /* width: 150px; */
    margin: 20px;
    height: 100px;
    color: rgb(155, 150, 150);
    border-radius: 10%;
    object-fit: cover;
}

.footer-heading {
    display: flex;
    flex-direction: row;
    align-content: center;
    font-size: 15px;
}

.footer-mail i {
    color: rgb(155, 150, 150);
    border: 2px solid rgb(155, 150, 150);
    border-radius: 50%;
    padding: 7px;
    margin: 10px;
}

.social-icon {
    margin-top: 20px;
}

.recent-trips {
    margin-top: 19px;
}

.recent-trips div img {
    margin-bottom: 28px;
    border-radius: 10px;
}

@media(max-width:567px) {
    /* .contact-footer div { */
    /* text-align: ; */
    /* } */
    /* .footer-telephone {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    } */
    /* .footer-mail {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    } */
    /* .footer-heading {
        margin: 10px;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
    } */
}

@media(max-width:768px) {
    /* .contact-footer div { */
    /* text-align: center; */
    /* } */
    /* .footer-heading {
        margin: 10px;
        display: flex;
        flex-direction: row;
        align-content: left
            ;
        justify-content: center;
    } */
    /* .footer-telephone {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .footer-mail {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    } */
}

#footer-navbar a {
    color: rgb(155, 150, 150);
}

.navbar-nav {
    margin-inline-start: auto;
}

.xyz {
    display: flex;
    justify-content: flex-end !important;
}