@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Jost:wght@600&family=PT+Sans&display=swap');
/* -------------fonts----------------- */

.sub-heading {
    font-family: 'Caveat', cursive;
    color: #ff7f00;
    font-size: 28px;
    font-weight: 700;
}

.heading {
    color: #303030;
    font-family: 'Jost', sans-serif;
    font-size: 38px;
    font-weight: 700;
}

.paragraph {
    font-family: 'PT Sans', sans-serif;
    color: #808080;
    font-size: 16px;
    font-weight: 400;
}

.heading-internel {
    font-family: 'Jost', Semi Bold;
    font-size: 22px;
    font-weight: 400;
}

.banner-button {
    font-family: 'Jost', Semi Bold;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    padding: 17px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    height: 57px;
    text-decoration: none;
}

@media(max-width:576px) {
    .sub-heading {
        font-size: 22px;
    }
    .heading {
        font-size: 30px;
    }
    .paragraph {
        font-size: 14px;
    }
    .banner-button {
        font-size: 14px;
        padding: 13px;
        height: 46px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.banner-button:hover {
    color: #f0f8ff;
}

/* ---------------navbar---------- */

#header {
    left: 0;
    padding: 10px 0;
    /* position: fixed; */
    top: 0;
    transition: all 0.6s;
    right: 0;
    z-index: 99999999;
}

#header .header-wrap {
    position: relative;
}

#header .logo {
    max-width: 100%;
}

/* #header .logo.black {
    display: none;
  } */

#header .header-menu-wrap {
    height: 35px;
    text-align: right;
}

#header .header-menu-wrap .get-quote {
    background-color: #ff7f00;
    border-radius: 20px;
    color: #ffffff;
    font-family: 'Jost', Semi Bold;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    padding: 7px 0;
    position: absolute;
    text-align: center;
    transition: all 0.4s ease-in-out;
    right: 45px;
    width: 90px;
    text-decoration: none;
}

.navbar-content {
    display: flex;
    /* margin-top: auto; */
    align-items: center;
    justify-content: flex-end;
}

#header .header-menu-wrap .get-quote:hover {
    background-position: 100% 0;
    background-color: #e87809;
}

#header .header-menu {
    background-color: #f0f8ff;
    border-radius: 5px;
    /* box-shadow: 8.09px 5.878px 20px 0px rgba(152, 163, 211, 0.1); */
    display: none;
    /* font-family: "Nunito Sans"; */
    padding: 20px 0px 10px;
    /* padding: 30px 0px; */
    font-family: 'Jost', Semi Bold;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    text-align: left;
    /* top: 55px; */
    right: 0;
    width: 100%;
}

.navbar-menu {
    list-style-type: none;
}

#header .header-menu .triangle {
    position: absolute;
    height: 20px;
    overflow: hidden;
    top: -20px;
    right: 0;
    width: 100%;
}

#header .header-menu .triangle div {
    position: relative;
    height: 20px;
}

#header .header-menu .triangle div:before {
    background: #f0f8ff;
    border: solid 1px #e5e6eb;
    content: "";
    position: absolute;
    transform: rotate(45deg);
    right: 8px;
    top: 12px;
    height: 20px;
    width: 20px;
}

#header .header-menu .item:not(:first-child) {
    margin-top: 20px;
}

#header .header-menu .link {
    color: #000000;
    display: block;
    font-weight: 600;
    text-decoration: none;
}

#header .header-menu .link:hover {
    color: #f69b3a;
}

#header .mobile-menu-toggler {
    height: 100%;
}

#header .mobile-menu-toggler.scrolled, #header .menu-icon-close {
    display: none;
}

#header .menu-icon-open, #header .menu-icon-close {
    max-height: 100%;
    max-width: 100%;
}

#header.scrolled {
    background-color: #ffffff;
    box-shadow: 0px 0px 6px 1px rgba(12, 0, 46, 0.08);
    padding: 15px 0;
}

#header.scrolled .logo {
    display: none;
    /* height: 30px; */
}

#header.scrolled .logo.black {
    display: block;
}

#header.scrolled .header-menu-wrap {
    height: 30px;
}

#header.scrolled .header-menu-wrap .get-quote {
    height: 30px;
    padding: 5px 0;
}

#header.scrolled .mobile-menu-toggler {
    display: none;
    height: 30px;
}

#header.scrolled .mobile-menu-toggler.scrolled {
    display: inline-block;
}

@media(max-width: 360px) {
    #header .header-menu-wrap .get-quote {
        font-weight: 600;
        height: 26px;
        padding: 4px 0;
        /* right: 50px; */
        width: 100px;
        margin-top: 5px;
    }
    #header .header-menu {
        top: 70px;
        z-index: 999999;
    }
    #header .header-menu-wrap .get-quote {
        font-size: 12px;
    }
}

@media screen and (min-width: 360px) {
    /* #header .logo { */
    /* height: 40px; */
    /* } */
    #header .header-menu-wrap {
        height: 40px;
    }
    #header .header-menu-wrap .get-quote {
        font-weight: 600;
        height: 40px;
        padding: 9px 0;
        right: 50px;
        width: 115px;
    }
    #header .header-menu-wrap .mobile-menu-toggler {
        width: 40px;
    }
    #header .header-menu .triangle div::before {
        right: 10px;
        top: 10px;
    }
    #header .header-menu {
        top: 70px;
        z-index: 999999;
    }
}

@media screen and (min-width: 992px) {
    /* #header .logo { */
    /* height: 50px; */
    /* } */
    #header .header-menu-wrap {
        margin-top: 5px;
    }
    #header .header-menu-wrap .get-quote {
        float: right;
        font-size: 16px;
        padding: 8px 0;
        position: static;
        width: 150px;
    }
    #header .header-menu {
        background-color: transparent;
        border: none;
        box-shadow: none;
        float: right;
        padding: 0;
        position: static;
        display: block !important;
        width: auto;
    }
    #header .header-menu ul {
        margin-top: -12px;
    }
    .header-menu ul {
        list-style-type: none;
    }
    #header .header-menu .item {
        display: inline-block;
        margin-right: 30px;
    }
    #header .header-menu .item .link {
        color: #000000;
    }
    #header .header-menu .item .link:hover, #header .header-menu .item .link.active {
        color: #f69b3a !important;
    }
    #header.scrolled .header-menu .item .link {
        color: #000000;
    }
    /* #header.scrolled .logo { */
    /* height: 40px; */
    /* } */
    #header.scrolled .header-menu-wrap {
        height: 40px;
        margin-top: 0;
    }
    #header.scrolled .header-menu-wrap .get-quote {
        height: 40px;
        padding: 9px 0;
    }
}

/* ---------------top-banner-------- */

.top-banner-image {
    background-image: url("./images/okimages/banner-img.jpg");
    background-repeat: no-repeat;
    height: 665px;
    background-position: center center;
    background-size: cover;
    background-color: #37cee9;
}

.top-banner-heading {
    font-family: 'Caveat', cursive;
    color: #37cee9;
    font-weight: 400;
    margin-top: 212px;
    font-size: 52px;
    font-weight: 400;
    display: grid;
}

.top-banner-co-heading {
    font-family: Jost;
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    z-index: 1;
}

.top-banner-content {
    display: flex;
    justify-content: center;
}

.orange-color {
    color: #fc8d1f;
}

.top-banner-buttons {
    display: flex;
    justify-content: center;
}

.top-banner-buttons a {
    width: 254px;
    z-index: 1;
}

.button-left-top-banner {
    float: right;
    background-color: #fc8d1f;
}

.button-left-top-banner:hover {
    background-color: #e87809;
}

.button-right-top-banner {
    background-color: #37cee9;
    float: left;
}

.button-right-top-banner:hover {
    background-color: #25bad5;
}

@media(max-width:576px) {
    .top-banner-heading {
        margin-top: 102px;
        font-size: 33px;
    }
    .top-banner-co-heading {
        font-size: 40px;
    }
    .top-banner-image {
        height: 516px;
    }
    .top-banner-buttons a {
        width: 236px;
        height: 50px;
        float: none;
        /* margin: 15px 0px; */
    }
}

/* --------------------packages section--------------------------- */

.packages-content {
    overflow: hidden;
}

.packages-content img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.packages-content:hover img {
    transform: scale(1.2);
}

.packages-wrap {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.packages-heading {
    display: grid;
    /* margin-bottom: 49px; */
}

.package-images img {
    width: 100%;
    object-fit: contain;
    /* margin: 15px; */
}

.packages-content {
    position: relative;
    cursor: pointer;
}

.package-images {
    object-fit: contain;
    margin: 10px 0px;
}

.packages-detail-name {
    position: absolute;
    padding: 5px 0px;
    bottom: 30px;
    float: left;
    height: max-content;
    width: 90%;
    font-size: 24px;
    object-fit: contain;
    background-color: #ff7f00;
    color: #f0f8ff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.packages-sub-description {
    background-color: #303030;
    background-position: inherit;
    width: 100%;
    padding-left: 20px;
    height: 30px;
    opacity: 0.7;
    position: absolute;
    bottom: 0px;
    color: #f0f8ff;
    font-size: 12px;
    font-size-adjust: inherit;
    float: left !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin-left: 15px; */
}

.packages-bottom-button {
    display: contents;
}

.packages-bottom-button a {
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #37cee9;
    text-transform: uppercase;
}

.packages-bottom-button a:hover {
    background-color: #ff7f00;
}

@media(max-width:576px) {
    .packages-detail-name {
        font-size: 18px;
        text-align: left;
        /* margin-left: 0px; */
        padding-left: 7px;
    }
    .packages-heading {
        margin-bottom: 0px;
    }
    .packages-wrap {
        margin-top: 30px;
    }
    .packages-bottom-button a {
        margin-top: 24px;
        margin-bottom: 60px;
    }
    .packages-sub-description {
        font-size: 9px;
        margin-left: 0px;
        text-align: left;
        padding-left: 9px !important;
    }
}

/* --------------------list banner section---------------- */

.list-banner-wrap {
    background-image: url("./images/okimages/service-bg.jpg");
    background-repeat: no-repeat;
    height: max-content;
    background-position: center center;
    background-size: cover;
    background-color: #d3dae6;
    display: flex;
    justify-content: center;
}

.list-button div {
    margin: 27px 0px;
    border: none;
    font-size: 16px;
    padding: 19 px;
    text-align: left;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000000;
}

.list-button div img {
    /* margin: 19px; */
    margin-left: 30px;
}

.list-banner-wrap {
    position: relative;
}

.list-banner-heading {
    display: grid;
    margin-top: 57px;
    font-weight: 500px;
}

/* .list-banner-container { */

/* margin-top: 20px; */

/* } */

.list-button div {
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 2px 4px 5px 0px rgba(75, 75, 120, 0.43);
    -moz-box-shadow: 2px 4px 5px 0px rgba(75, 75, 120, 0.43);
}

.list-content-heading {
    font-family: Jost;
    font-size: 22px;
    font-weight: 500;
}

.list-written-content {
    margin: 26px;
    text-decoration: none;
}

.list-written-content p {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
}

.list-icon {
    float: left;
    height: 83px;
    width: 83px;
    border-radius: 100%;
    object-fit: scale-down;
    background-color: #e8eaed;
}

.service-illustration img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
}

.list-banner-container .hover-btn:hover {
    background-color: #fc8d1f;
    color: #f0f8ff;
}

.service-button {
    margin-top: 30px;
    margin-bottom: 65px;
    width: 284px;
    background-color: #37cee9;
}

.service-button:hover {
    background-color: #fc8d1f;
}

@media (max-width: 768px) {
    .list-banner-heading {
        text-align: center;
    }
    .list-paragraph {
        text-align: center;
    }
    .service-button {
        height: 45px;
        margin-top: 16px;
        margin-right: auto;
        margin-left: auto;
    }
    .list-banner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* --------------whyus banner section-------------- */

#whyus_banner_section {
    display: flex;
    justify-content: center;
}

.whyus-banner {
    margin: 60px 0px;
    text-align: center;
}

.whyus-banner-paragraph {
    display: flex;
    justify-content: center;
}

.icon {
    display: block;
    height: 70px;
    width: 70px;
    object-fit: cover;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width:576px) {
    .whyus-banner {
        margin: 40px 0px;
    }
}

/* ----------holiday-banner section------ */

#hoiday-banner-section {
    background-image: url("./svg/skyline-blue.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: inherit;
    padding-bottom: 102px;
}

.holiday-section {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
}

/* .holiday-section p { */

/* margin-bottom: 47px; */

/* } */

.holiday-photo {
    width: 100%;
    height: 234px;
    cursor: pointer;
    object-fit: cover;
    overflow: hidden;
}

.holiday-image-content img {
    transition: 0.5s all ease-in-out;
}

.holiday-image-content:hover img {
    transform: scale(1.2);
}

.holiday-image-content {
    overflow: hidden;
    /* position: relative; */
}

.holiday-portion {
    padding: 13px;
}

.holiday-image-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.holiday-image-name {
    position: absolute;
    text-align: center;
    color: #f0f8ff;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    display: grid;
    z-index: 9999;
}

.holiday-image-name div {
    color: #f0f8ff;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 400;
}

@media(max-width:576px) {
    .holiday-section p {
        margin-bottom: 30px;
    }
    .holiday-image-name {
        font-size: 22px;
    }
    #hoiday-banner-section {
        padding-bottom: 60px;
        background-size: contain;
    }
}

/* ------------------world map image------------------- */

.world-banner {
    background-color: #37cee9;
    height: max-content;
}

.world-map-background img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.world-map-heading {
    margin-top: 151px;
    margin-bottom: 175px;
    object-fit: contain;
}

.world-map-heading div {
    color: #f0f8ff;
}

.world-map-banner {
    margin-top: 30px;
    width: 100%;
    max-height: 600px;
}

.world-map-heading p {
    color: #f0f8ff;
}

.world-map-co-heading-2 {
    font-size: 38px;
}

@media(max-width:568px) {
    .world-map-background img {
        margin-top: 41px;
    }
    .world-map-heading {
        margin-top: 30px;
        margin-bottom: 50px;
        text-align: center;
    }
    .world-map-heading-1 {
        margin-top: 30px;
    }
    .world-map-co-heading-2 {
        font-size: 30px;
    }
}

/* ------------------form section-------------------- */

.form-banner {
    background-image: url("./images/okimages/form-bg.jpg");
    background-repeat: no-repeat;
    height: max-content;
    background-position: center left;
    background-size: cover;
    background-color: #f8d985;
    display: flex;
    justify-content: center;
}

.form-readings {
    display: flex;
    flex-direction: column;
}

.vl {
    margin-top: 20px;
    border-left: 3px solid #f0f8ff80;
    height: 70px;
    width: 4px;
    padding: 0px;
}

.form-readings .row {
    display: flex;
    justify-content: space-evenly;
}

.form-readings div {
    font-weight: 500;
}

.form-readings div p {
    font-size: 15px;
    display: flex;
}

.form h2 {
    text-align: center;
}

.form-stats-reading {
    font-size: 40px;
}

.form label {
    float: left;
    font-weight: 700;
    font-size: 18px;
}

.form input::-webkit-input-placeholder {
    color: #f0f8ff;
    font-weight: 700;
    font-size: 14px;
}

.form input {
    margin-top: 26px;
    margin-bottom: 49px;
    color: #f0f8ff;
    font-weight: 700;
    width: 100%;
    background: transparent;
    border: none;
    box-sizing: unset;
    border-bottom: 2px solid #ffffff4d;
    display: grid;
}

.form input:focus {
    border-bottom: 2px solid #f0f8ff;
    outline: none;
}

#form-bottom-button {
    background-color: #f0f8ff;
    color: black;
    width: 100%;
}

#form-bottom-button:hover {
    /* background-color: #e7f4ffd5; */
    background-color: inherit;
    border: 2px #fff solid;
    color: white;
}

.form {
    padding: 65px;
    background-color: hsl(32, 100%, 50%);
    color: #f0f8ff;
    text-align: center;
    width: 100%
}

.form-stats {
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.form-stats p {
    font-size: 30px;
    color: azure;
    font-weight: bolder;
}

.form-heading {
    font-size: 16px;
    font-weight: 700;
    display: grid;
}

.form-heading span {
    font-size: 28px;
    font-weight: 700;
}

@media(max-width:992px) {
    .form {
        padding: 30px 20px;
    }
}

@media(max-width:768px) {
    .form {
        margin: 20px 0px 50px;
    }
    .form-stats {
        margin-top: 50px;
    }
}

/* -----------------news and blog section-------------- */

.news-blog {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.news-section-heading {
    margin-top: 60px;
    font-size: 30px;
    display: grid;
}

.blog-paragraph {
    /* margin-top: 14px; */
    text-align: left;
    font-family: 'Fjalla One', sans-serif;
    /* margin-bottom: 20px; */
    display: grid;
}

.news-blog-content {
    margin-top: 20px;
}

.blog-left-image {
    width: 100%;
    height: 100%;
}

.bi-clock {
    font-weight: bold;
    color: #416be4;
}

.blog-author-photo-name {
    text-align: left;
    margin-bottom: 34px;
    bottom: 0px;
    font-size: 12px;
}

.blog-author-photo-name span {
    margin-left: 10px;
}

.blog-author-photo-name span:hover {
    text-decoration: underline;
}

.blog-author {
    object-fit: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.right-blog-heading {
    font-family: 'Jost', Semi Bold;
    font-weight: 400;
    font-size: 18px;
    color: #303030;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.blog {
    display: grid;
}

.blog-img {
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.label-icon {
    margin-left: 20px;
    font-weight: bold;
    color: #416be4;
}

.blog-right-image {
    height: max-content;
}

.news-left-blog {
    display: grid;
}

.blog-date, .blog-place {
    display: flex;
}

.blog-place {
    margin-left: 15px;
}

.blog-date-place p {
    /* margin-bottom: 0px; */
    margin-top: 3px;
}

.blog-date-place {
    margin-top: 10px;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    height: 20px;
}

.blog-date-place img {
    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-right: 5px;
}

.left-blog-heading {
    font-family: 'Jost', Semi Bold;
    font-weight: 400;
    font-size: 18px;
    color: #303030;
}

@media(max-width:568px) {
    .review-col-right {
        display: none;
    }
    .news-section-heading {
        margin-top: 40px;
    }
    .news-blog-content {
        margin-top: 6px;
    }
    .blog-author-photo-name {
        display: none;
    }
}

/* ------------------carousal-section--------- */

.carousal-section-heading {
    margin-top: 26px;
    display: grid;
}

#carousel_section {
    text-align: -webkit-center;
}

.carousal-info-paragraph {
    display: flex;
    justify-self: center;
}

.card-name {
    font-size: 22px;
}

.carousal-star {
    margin-bottom: 23px;
}

.card-paragraph {
    font-style: italic;
    font-size: 18px;
}

.carousel-indicators {
    margin-top: 1rem;
    position: relative !important;
}

.carousel-indicators button {
    background-color: #4adbff !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
}

.carousal-image {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #8ac9fde8;
}

.carousel {
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    background: #fff;
}

#carousel_section .card {
    box-shadow: 2px 4px 5px 0px #4b4b786e;
    -webkit-box-shadow: 2px 4px 5px 0px #4b4b786e;
    -moz-box-shadow: 2px 4px 5px 0px #4b4b786e;
    padding: 0 10px;
    margin: 10px;
}

.card-body {
    text-align: left;
}

.quote {
    width: 10px;
    height: 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

.carousel .carousel-item {
    margin-top: 50px;
}

.customer-image {
    position: absolute;
    top: -50px;
}

.customer-review {
    margin-top: 50px;
}

.customer-image .image-quote {
    width: 25px;
    height: 25px;
    /* background-color: #37cee9; */
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 100%;
    text-align: center;
}

.image-quote img {
    width: 25px;
    height: 25px;
}

.slider {
    display: flex;
    height: 100%;
    width: 400%;
}

.slider section {
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
}

.left, .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.control ul {
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%);
}

.control ul li {
    display: block;
    position: fixed;
    width: 10px;
    height: 10px;
    background: #333;
    border: 2px solid #333;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
}

.carousal-star i {
    color: #fc8d1f;
}

.control ul li.selected {
    background: transparent;
}

.review-col-left {
    margin-bottom: 50px;
}

@media(max-width:576px) {
    .carousal-section-heading {
        margin-top: 30px;
    }
    .review-col-left {
        margin-bottom: 15px;
    }
}

/* ------------------question section--------------- */

.question-banner {
    margin-top: 30px;
    background-color: #f4f7fb;
}

.question-paragraph {
    font-size: 16px;
    font-weight: 400;
}

.question-banner-heading {
    font-size: 30px;
    font-family: 'Jost', Semi Bold;
    display: grid;
}

.question-banner-heading div {
    font-size: 30px;
    object-fit: contain;
}

.question-banner-heading p {
    font-size: 16px;
    font-weight: 400;
}

.question-button {
    display: flex;
    justify-content: flex-end;
}

.question-banner-content {
    margin: 50px 0px;
    display: flex;
}

.bottom-banner-button {
    background-color: #fc8d1f;
    width: 100%;
}

.bottom-banner-button:hover {
    background-color: #37cee9;
}

@media(max-width:576px) {
    .question-banner-content {
        flex-direction: column;
        align-items: center;
    }
    .bottom-banner-button {
        margin-top: 36px;
        max-width: 288px;
    }
    .question-banner-heading {
        text-align: center;
        font-size: 22px;
    }
    .question-button {
        justify-content: center;
    }
}

/* ------------------footer------------------------- */

.recent-trip-image li img {
    margin: 8px;
    width: 170px;
    height: 122px;
    margin-top: 10px;
    border-radius: 5%;
    object-fit: cover;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-background {
    background-image: url("./svg/footer-skyline.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: inherit;
}

.contact-footer {
    text-align: left;
    /* color: #9b9696; */
    color: #8794a3;
    margin-top: 50px;
}

.contact-footer div p {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.social-icon img {
    margin-top: 5px;
}

.footer-telephone {
    margin: 20px 0px;
    display: flex;
    align-items: center;
}

.icon-content-footer {
    display: flex;
}

.footer-telephone i {
    color: #8794a3;
    border: 2px solid #8794a3;
    border-radius: 50%;
    padding: 7px;
    margin: 10px;
}

.footer-telephone span {
    color: #8794a3;
}

.footer-dash {
    width: 30px;
    height: 5px;
    border-radius: 15%;
    background-color: #fc8d1f;
    margin: 6px;
}

.nav-link {
    font-size: 12px;
}

.footer-mail {
    display: flex;
    align-items: center;
}

.footer-mail p {
    margin-left: 10px;
    display: grid;
}

.footer-mail span {
    color: white;
}

.footer-telephone span {
    color: white;
}

.footer-telephone p {
    margin-left: 10px;
    display: grid;
}

.footer-award {
    margin: 20px;
    height: 100px;
    color: #8794a3;
    border-radius: 10%;
    object-fit: cover;
}

.footer-heading {
    display: flex;
    flex-direction: row;
    align-content: center;
    font-size: 15px;
    color: #f0f8ff;
}

.footer-mail i {
    color: #8794a3;
    border: 2px solid #8794a3;
    border-radius: 50%;
    padding: 7px;
    margin: 10px;
}

.social-icon {
    margin-top: 20px;
}

.recent-trips {
    margin-top: 19px;
}

.recent-trips div img {
    margin-bottom: 28px;
    border-radius: 10px;
}

.footer-navbar {
    margin-bottom: 90px;
}

#footer-navbar a {
    color: #8794a3;
}

.footer-nav-list a:hover {
    color: #fc8d1f;
}

.navbar-nav {
    margin-inline-start: auto;
}

.nav-content {
    justify-content: flex-end !important;
    margin-bottom: 20px;
}

.footer-help-link {
    text-decoration: none;
}

@media(max-width:576px) {
    #footer-navbar ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .nav-content {
        justify-content: center !important;
    }
}

@media(max-width:992px) {
    .footer-award {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 10px;
        margin-left: 0px;
    }
}